dlib_examples_build_x64_avx_cuda
dlib_examples_build_x64_mkl_cuda
dlib_examples_build_x86_avx
dlib_examples_build_x86_mkl
/DlibBuiltFilesForWindows/mmod_human_face_detector.dat
/DlibBuiltFilesForWindows/mmod_human_face_detector.dat.bz2
/DlibBuiltFilesForWindows/resnet34_1000_imagenet_classifier.dnn
/DlibBuiltFilesForWindows/resnet34_1000_imagenet_classifier.dnn.bz2
/DlibBuiltFilesForWindows/shape_predictor_68_face_landmarks.dat
/DlibBuiltFilesForWindows/shape_predictor_68_face_landmarks.dat.bz2
