dlib_build_x64_mkl_cuda
dlib_build_x86_mkl
dlib_x64_mkl_cuda
dlib_x86_mkl
dlib_examples_build_x64_avx_cuda
dlib_examples_build_x64_mkl_cuda
dlib_examples_build_x86_mkl
/DlibBuildScriptsForWindows/mmod_human_face_detector.dat
/DlibBuildScriptsForWindows/mmod_human_face_detector.dat.bz2
/DlibBuildScriptsForWindows/resnet34_1000_imagenet_classifier.dnn
/DlibBuildScriptsForWindows/resnet34_1000_imagenet_classifier.dnn.bz2
/DlibBuildScriptsForWindows/shape_predictor_68_face_landmarks.dat
/DlibBuildScriptsForWindows/shape_predictor_68_face_landmarks.dat.bz2
/DlibBuildScriptsForWindows/semantic_segmentation_voc2012net.dnn
